body {
    margin: 20px;

}

ul {
    list-style-type: none;
}

.main-header {
    display: flex;
    position: relative;
    width: 96%;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    border: 5px solid goldenrod;
    box-shadow: 10px 10px goldenrod;
    padding: 10px 0;
}


.title {
    display: flex;
    color: burlywood;
    font-size: 30px;
    margin-left: 30px;
}

.title p {
    margin: 0px 0 0 10px;
}


main {

    position: absolute;
    display: flex;
    margin-top: 50px;
    width: 100%;
    height: 80%;
}

.sidebar {

    height: 100%;
    width: 130px !important;
    border-radius: 20px;
    border: 5px solid lightblue;
    box-shadow: 10px 10px lightblue;
    padding: 0 5px;
    position: relative;
    float: left;
    overflow: hidden;
}

.sidebar-content {
    margin-top: 25px;
}

.todo-content {
    height: 100%;
    width: 85%;
    position: relative;
    overflow: hidden;
    margin-left: 20px;
    border-radius: 20px;
    border: 10px solid lightblue;
    box-shadow: 10px 10px lightblue;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
}


.task-title {
    color: burlywood;
}

.btn-title-wrapper {

    display: flex;
    flex-direction: column;


}

.new-task {
    position: absolute;
    bottom: 4%;
    right: 2%;
    color: burlywood;
    float: right;
    width: 48px;
    height: 48px;
    background-color: white;
    border: none;

}

.createCancel-wrapper {
    text-align: center;
    margin-top: 25px;

}

#remove-task,
#confirm-remove {

    color: red;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    color: lightblue;
    background-color: white;
    cursor: pointer;
    padding: 5px;
    font-size: 20px;
    margin: 10px 0 10px 0;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: .5s;
}

/* Style the accordion panel. Note: hidden by default */
.panel,
.panel-list {
    background-color: white;
    overflow: hidden;
    color: lightblue;
    border-bottom: 1px solid lightgrey;
    text-align: left;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    cursor: pointer;
    transition: .5s;
}



/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover,
.custom-list:hover {
    /*box-shadow: 0 0px 50px 0px rgba(135, 206, 250, 1);*/
    background-color: rgba(135, 206, 250, 0.3);
}


.buttons-wrapper {

    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;

}

.task {
    position: relative;
    margin: 1% 10%;
    border-radius: 10px;
    border: 5px solid lightblue;
    padding: 10px 0;
    display: flex;
    height: 35px;
    overflow: hidden;
}

.wrapper-input-complete {

    position: absolute;
    left: 0px;
    top: 20px;
    width: 10%;
    height: 20px;
    padding: 0;
}

.completed {

    text-decoration: line-through;
}

.important {

    font-weight: bold;
}

.wrapper-input-important {

    position: absolute;
    right: 10px;
    top: 20px;
    width: 10%;
    height: 20px;
    padding: 0;
}

.importantComplete-wrapper {
    margin-top: 100px !important;
}

.task-name {

    margin: auto 10%;
    overflow: hidden;
}

.title-wrapper {

    justify-content: space-between;
    color: burlywood;
    margin: 1% 12.5%;
    padding: 10px 0;
    display: flex;
    height: 35px;
}

/* class hidden*/

.hidden {
    display: none !important;
}

.sidebar .iconify {
    position: absolute;
    right: 20px;
    width: 25px;
    height: 25px;

}

.modal li div {
    margin: 0 50px;
}

.modal li input {

    margin-right: 50px;
}

/* Modal*/

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s linear 0s, transform 0.25s;
}

.modal-title {

    text-align: center;
    color: burlywood;
}

/* displayed the modal*/


.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 32rem;
    height: 35rem;
    border-radius: 0.5rem;
}

.modal-form {
    position: relative;
}

.modal-form label {
    margin: 5px;
}

.modal-form li {
    display: flex;
    justify-content: left;
    margin-top: 5px;
}

.modal-form ul {
    margin: 0px;
}

.modal-form input,
.modal-form textarea,
.modal-form datalist {
    position: absolute;
    margin-left: 100px;
}

.modal-form textarea {
    width: 250px;
    height: 100px;
    text-align: start;
}


.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

/* form error */

.error-input {
    color: red;
    border: 2px solid red;
}

.error-msg {
    height: 1.3rem;
    padding: 1px 5px;
    font-size: 15px;
    background: #F9DDDD;
    color: #D48582;
    margin-top: 27px;
    position: absolute;
    /*margin-left: 100px;*/
    border-radius: 3px;
    vertical-align: baseline;
}

.error-msg p {
    margin: auto;
}


.info-window,
.remove-window,
.new-list-window,
.remove-window,
.remove-list-window,
.confirm-remove-list-window,
.change-listName-window {
    position: fixed;
    top: 40%;
    left: 40%;
    padding: 15px;
    font-size: 20px;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    transform: scale(1.1);
    z-index: 1;
    opacity: 0;
    transition: visibility 0s linear 0.25s, opacity 0.25s linear 0s, transform 0.25s;
}


.show-modal,
.show-info {
    opacity: 1;
    visibility: visible;
    display: inline transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    z-index: 2;
}

.remove-list-window {

    top: 20%;
    left: 50%;
}

.high-z {
    z-index: 10;
}

/* searchbar*/

.search-container {

    color: burlywood;
    display: flex;
}

.search-container .iconify {

    width: 30px;
    height: 30px;

}

.searchbar {

    color: burlywood;
    border: 2px solid burlywood
}

/* Responsiveness*/
@media (max-width: 1400px) {
    .todo-content {
        width: 80%;
    }
}

@media (max-width: 1200px) {
    .todo-content {
        width: 75%;
    }

}

@media (max-width: 800px) {
    .todo-content {
        width: 65%;
    }

}

@media (max-width: 600px) {
    .todo-content {
        width: 60%;
    }

    .title-wrapper {
        display: none !important;
    }

    .task-wrapper {
        margin-top: 40px;
    }

    .task-name {
        margin: auto 20%;
        overflow: hidden;
    }

    .sidebar {
        width: 80px;
    }
}

@media (max-width: 500px) {
    .todo-content {
        width: 55%;
    }
}

@media (max-height: 900px) {

    .todo-content,
    .sidebar {
        height: 90%;
    }
}


@media (max-height: 700px) {

    .todo-content,
    .sidebar {
        height: 80%;
    }
}


@media (max-height: 500px) {

    .todo-content,
    .sidebar {
        height: 70%;
    }
}


@media (max-height: 400px) {

    .todo-content,
    .sidebar {
        height: 65%;
    }
}


@media (max-height: 300px) {

    .todo-content,
    .sidebar {
        height: 60%;
    }

    .main-header {
        display: none;
    }

    .task-title {
        display: none
    }

    .new-task {
        width: 30px;
    }
}