body {
    margin: 20px;

}

.main-header {
    display: flex;
    position: relative;
    width: 96%;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    border: 5px solid goldenrod;
    box-shadow: 10px 10px goldenrod;
    padding: 10px 0;
}


.title {
    display: flex;
    color: burlywood;
    font-size: 30px;
    margin-left: 30px;
}

.title p {
    margin: 0px 0 0 10px;
}


main {

    position: absolute;
    display: flex;
    margin-top: 50px;
    width: 100%;
    height: 80%;
}

.sidebar {

    height: 100%;
    width: 130px !important;
    border-radius: 20px;
    border: 5px solid lightblue;
    box-shadow: 10px 10px lightblue;
    padding: 0 5px;
    position: relative;
    float: left;
}

.todo-content {

    height: 100%;
    width: 85%;
    position: relative;
    overflow: hidden;
    margin-left: 20px;
    border-radius: 20px;
    border: 10px solid green;
    box-shadow: 10px 10px green;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
}


.task-title {
    color: green;
}

.new-task {
    position: absolute;
    bottom: 4%;
    right: 2%;
    color: green;
    float: right;
    width: 48px;
    height: 48px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    color: lightblue;
    background-color: white;
    cursor: pointer;
    padding: 5px;
    font-size: 20px;
    margin: 10px 0 10px 0;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: .5s;
}

/* Style the accordion panel. Note: hidden by default */
.panel,
.panel-list {
    background-color: white;
    overflow: hidden;
    color: lightblue;
    border-bottom: 1px solid lightgrey;
    text-align: left;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    cursor: pointer;
    transition: .5s;
}




/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover,
.custom-list:hover {
    /*box-shadow: 0 0px 50px 0px rgba(135, 206, 250, 1);*/
    background-color: rgba(135, 206, 250, 0.3);
}


.task {
    position: relative;
    margin: 1% 10%;
    border-radius: 10px;
    border: 5px solid green;
    padding: 10px 0;
    display: flex;
    height: 35px;
    overflow: hidden;
}

.wrapper-input-complete {

    position: absolute;
    left: 0px;
    top: 20px;
    width: 10%;
    height: 20px;
    padding: 0;
}

.wrapper-input-important {

    position: absolute;
    right: 10px;
    top: 20px;
    width: 10%;
    height: 20px;
    padding: 0;
}


.task-name {

    margin: auto 10%;
    overflow: hidden;
}


.title-wrapper {

    justify-content: space-between;
    color: green;
    margin: 1% 12.5%;
    padding: 10px 0;
    display: flex;
    height: 35px;
}


/* class hidden*/

.hidden {
    display: none !important;
}

.sidebar .iconify {
    position: absolute;
    right: 20px;
    width: 25px;
    height: 25px;

}

/* Responsiveness*/
@media (max-width: 1400px) {
    .todo-content {
        width: 80%;
    }

}

@media (max-width: 1200px) {
    .todo-content {
        width: 75%;
    }

}

@media (max-width: 800px) {


    .todo-content {

        width: 65%;
    }

}


@media (max-width: 600px) {
    .todo-content {
        width: 60%;
    }

    .title-wrapper {
        display: none !important;
    }


    .task-wrapper {

        margin-top: 40px;
    }


    .task-name {

        margin: auto 20%;
        overflow: hidden;
    }

    .sidebar {
        width: 80px;

    }
}

@media (max-width: 500px) {
    .todo-content {
        width: 55%;
    }

}


@media (max-height: 900px) {

    .todo-content,
    .sidebar {
        height: 90%;
    }

}


@media (max-height: 700px) {


    .todo-content,
    .sidebar {
        height: 80%;
    }

}


@media (max-height: 500px) {

    .todo-content,
    .sidebar {
        height: 70%;
    }

}


@media (max-height: 400px) {

    .todo-content,
    .sidebar {
        height: 65%;
    }

}


@media (max-height: 300px) {

    .todo-content,
    .sidebar {
        height: 60%;
    }

    .main-header {
        display: none;
    }

    .task-title {

        display: none
    }

    .new-task {

        width: 30px;
    }

}